{% load i18n %}
<footer class="footer container-fluid">
    {% block footer %}
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
        <div class="panel-footer" style="background-color: #2f3742">
            <div class="row">
            </div>
            <div class="row" style="color: whitesmoke">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2">
                    <p style="text-decoration: underline"> دسترسی سریع </p>
                </div>
                <div class="col-lg-2">
                    <p style="text-decoration: underline"> راهنمای خرید </p>
                </div>
                <div class="col-lg-2">
                    <p style="text-decoration: underline"> درباره ما </p>
                </div>
                <div class="col-lg-4">
                    <p style="text-decoration: underline"> تماس با ما </p>
                </div>
            </div>
            <hr>
            <div class="row" style="color: whitesmoke; text-align: center">
                <p>  © تمامی حقوق برای
                    <a href="{{ homepage_url }}">لایف‌تک</a>
                    محفوظ می باشد. </p>
            </div>
        </div>
    {% endblock %}
</footer>